.style {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: white !important;
    font-size: 1.5em;
}

.nombre {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: white !important;
    text-align: center;
    font-size: 3em;
}

.titulo {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: white !important;
    text-align: center;
    font-size: 3.5em;
}

.box {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 100%;
    max-height: 100%;
    padding: 20px 40px;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.foto-perfil {
    width: 125px;
    height: 125px;
    border-radius: 150px;
    padding: 5px;
    margin: 0 auto;
    display: block;
}

.foto {
    width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}

.partida1 {
    margin: 20px 0px;
    margin-left: 0px;
    float: right;
}

.partida2 {
    margin: 20px 0px;
    margin-right: 0px;
    margin: 0 auto;
}

.n1 {
    margin-left: 0px !important;
    text-align: left;
}

.n2 {
    margin-right: 0px !important;
    margin-top: 0px;
    text-align: right;
}

@media (max-width: 768px) {
    .responsive {
        margin: 0 auto;
    }
    .foto-perfil {
        width: 75px;
        height: 75px;
        border-radius: 150px;
        padding: 5px;
        margin: 0 auto;
        display: block;
    }
    .foto {
        width: 75px;
        height: 75px;
        padding: 5px;
        border-radius: 50px;
        margin: 0 auto;
        display: block;
    }
    .partida1 {
        margin: auto;
        float: none;
        text-align: center;
        margin-top: 20px;
    }
    .partida2 {
        text-align: center;
    }
    .box {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        font-family: sans-serif;
        text-align: center;
        line-height: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        max-width: 100%;
        max-height: 100%;
        padding: 20px 40px;
    }
    .r {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.input {
    margin: 40px;
}