.fonts1 {
    color: #FF5E00 !important;
    font-size: 2.8em;
    text-align: center;
}

.fonts2 {
    color: #FF5E00 !important;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

.fonts3 {
    font-size: 1.6em;
    text-align: center;
    margin-top: 40px;
}

.bg-reglas {
    background-color: black;
    padding-bottom: 50px;
    height: 300px;
}

.in {
    width: 90px;
    margin: 5px;
    text-align: center;
}

.m {
    margin-top: 50px;
    border: 5px;
    border-color: white;
}

.underline {
    margin-bottom: 150px;
}

@media (min-width: 768px) {
    .bg-reglas {
        background-color: black;
        padding: 50px;
        height: 500px;
    }
    .c {
        flex: 0 0 11% !important;
        width: 11% !important;
    }
}

.hr {
    margin: 10px;
}

@media (max-width: 1300px) {}

.c {
    width: 11% !important;
}